
@{
    ViewData["Title"] = "AddParfume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Parfum Adı Giriniz" />
        </div>

        <div class="col-md-12" style="margin-top:50px;">
            <input type="text" placeholder="Fiyat Giriniz" />
        </div>
        <div class="col-md-12" style="margin-top:50px;">
            <input type="text" placeholder="Parfum Adı Giriniz" />
        </div>
        <div class="col-md-12" style="margin-top:50px;">
            <input type="text" placeholder="Parfum Adı Giriniz" />
        </div>

    </div>
</div>