
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="padding-top:200px">
        <div class="row">
           
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Marka</th>
                        <th scope="col">Fiyat</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbodyBasket">
                </tbody>
            </table>
        </div>
    </div>